*{
    margin: 0px;
    padding: 0px;
}
.web{
    width: 100%;
    height: auto;
    margin: 10px;
}
.header {
    display: flex;
    width: auto;
    height: 60px;
    background-color: rgb(1, 163, 1);
    margin-bottom: 5px;
}
.logo img{
    width: 300px;
}
.menu{
    width: 100%;
    height: 60px;
}
.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 1600px;
}
.menu ul li {
    width: 185px;
    height: 60px;
    text-align: center;
    border-left: 3px solid;
    border-color: white;
}
.menu ul li a {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: black;
    line-height: 60px;
    display: block;
}
.menu ul li a:hover {
    background-color: rgb(24, 209, 209);
}
.body{
    display: flex;
}
.left{
    flex: 1;
}

.dmsp {
    width: 100%;
    height: 370px;
    background-color: rgb(5, 189, 5);
    background-image: url(IMG/extra-box-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 5px;
}
h3{
    color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: green;
}
.dmsp ul {
    margin: 0px;
    padding: 0px;
}
.dmsp ul li {
    margin-left: 30px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    list-style: none;
}
.dmsp ul li a {
    text-decoration: none;
    color: black;
}
.dmsp ul li a:hover {
    color: white;
}
.tktc {
    width: 100%;
    height: 310px;
    background-image: url(IMG/extra-box-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 5px;
}
.so{
    text-align: center;
}
.tktc ul {
    width: 80%;
    margin: auto;
}
.tktc ul li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.qc_anh img {
    width:  100%;
}
.right{
    flex: 3;
}
.anhchinh img {
    width: 1460px;
    height: 500px;
}
.dssp img{
    width: 300px;
    height: 200px;
}
.dssp h4 {
    padding-top: 20px ;
    padding-bottom: 10px
}
.dssp button {
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 80px;
    background-color: rgb(19, 192, 140);
}
.dssp a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.dssp1{
    display: flex;
    margin-bottom: 50px;
}
.dssp2{
    display: flex;
    margin-bottom: 50px;
}
.dssp3{
    display: flex;
    margin-bottom: 50px;
}
.o1{
    flex: 1;
    text-align: center;
}
.o2{
    flex: 1;
    text-align: center;
}
.o3{
    flex: 1;
    text-align: center;
}
.footer {
    text-align: center;
    padding-top: 10px;
    width: auto;
    height: 40px;
    background-color: green;
}